.git
.github
filter-key-updates/target
cmd/kt-server/kt-server
cmd/kt-client/kt-client
cmd/kt-stress/kt-stress
cmd/generate-keys/generate-keys
docs
Docker*
docker-compose*
*.docker*
**/tmp
**/temp
config

# Different line endings on Windows vs Linux.
# Will fail if using the wrong line endings
**/maven-wrapper.jar
