name: 'kt-dynamodb'
services:
  'generate-keys':
    profiles:
      - 'generate-keys'
    build:
      context: '.'
      dockerfile: './Dockerfile'
      target: 'generate-keys'
    network_mode: 'none'
  'tests':
    profiles:
      - 'test'
    build:
      context: "."
      dockerfile: "./Dockerfile"
      target: "run-tests"
    secrets:
      - source: 'test-config'
        target: '/run/secrets/'
    networks: []
  'stress-test':
    profiles:
      - 'stress'
      - 'prod'
    links:
      - 'server'
    build:
      context: '.'
      dockerfile: './Dockerfile'
      target: 'run-stress-test'
    networks:
      'kt-server':
  'dynamodb-init-volume':
    container_name: 'dynamodb-init-volume'
    restart: 'no'
    build:
      context: '.'
      dockerfile: './Dockerfile'
      target: 'init-volume'
    volumes:
      - type: 'volume'
        source: 'leveldb'
        target: '/vol/'
    network_mode: 'none'
  'dynamodb-init-tables':
    container_name: 'dynamodb-init-tables'
    profiles:
      - 'prod'
    # Fails if tables have already been initialized
    restart: 'no'
    depends_on:
      'dynamodb':
        required: true
        condition: 'service_healthy'
    links:
      - 'dynamodb'
    image: amazon/aws-cli:latest
    command: [
      "dynamodb",
      "create-table",
      "--table-name",
      "kt_local",
      "--attribute-definitions",
      "AttributeName=k,AttributeType=S",
      "--key-schema",
      "AttributeName=k,KeyType=HASH",
      "--billing-mode",
      "PAY_PER_REQUEST"
    ]
    environment:
      AWS_ACCESS_KEY_ID: local
      AWS_SECRET_ACCESS_KEY: local
      AWS_ENDPOINT_URL: http://dynamodb:8000
      AWS_REGION: local-kt
    networks:
      'kt-server':
  'dynamodb':
    profiles:
      - 'prod'
    depends_on:
      'dynamodb-init-volume':
        required: true
        condition: 'service_completed_successfully'
    restart: 'on-failure'
    image: amazon/dynamodb-local:2.5.2
    command: [
      "-jar",
      "DynamoDBLocal.jar",
      "-disableTelemetry",
      "-port", "8000",
      "-sharedDb",
      "-dbPath", "/db/",
      "-optimizeDbBeforeStartup",
      "-cors", "dynamodb-init-tables,dynamodb,server"
    ]
    healthcheck:
      timeout: '1s'
      test: [
        "CMD",
        "bash",
        "-c",
        # Expecting 400 Bad Request, because we require authentication
        "curl --head -o /dev/null -s -w \"%{http_code}\" dynamodb:8000 | grep \"^400$\" > /dev/null"
      ]
    volumes:
      - type: 'volume'
        source: 'leveldb'
        target: '/db/'
    networks:
      'kt-server':
  'server':
    profiles:
      - 'prod'
    restart: 'on-failure'
    container_name: 'server'
    depends_on:
      'dynamodb-init-tables':
        # Fails if tables have already been initialized
        required: false
        condition: 'service_completed_successfully'
    links:
      - 'dynamodb'
    build:
      context: "."
      dockerfile: "./Dockerfile"
      target: "run-server"
    command: [ "-config", "/run/secrets/config.yaml" ]
    environment:
      - AWS_ACCESS_KEY_ID=local
      - AWS_SECRET_ACCESS_KEY=local
      - AWS_ENDPOINT_URL=http://dynamodb:8000
      - AWS_REGION=local-kt
    secrets:
      - source: 'config'
        target: '/run/secrets/'
    networks:
      'kt-server':
  'client':
    profiles:
      - 'prod'
      - 'client'
    links:
      - 'server'
    build:
      context: "."
      dockerfile: "./Dockerfile"
      target: "run-client"
    entrypoint: [ "sh" ]
    secrets:
      - source: 'config'
        target: '/run/secrets/'
    networks:
      'kt-server':
volumes:
  'leveldb':
secrets:
  'test-config':
    file: './cmd/kt-server/example/'
  'config':
    file: './config/'
networks:
  'kt-server':
    name: 'kt-server'
    driver: 'bridge'
    enable_ipv4: true
    enable_ipv6: false
