name: 'kt-dynamodb'
services:
  'generate-keys':
    profiles:
      - 'generate-keys'
    build:
      context: '.'
      dockerfile: './Dockerfile'
      target: 'generate-keys'
    network_mode: 'none'
  'tests':
    profiles:
      - 'test'
    build:
      context: "."
      dockerfile: "./Dockerfile"
      target: "run-tests"
    secrets:
      - source: 'test-config'
        target: '/run/secrets/'
    networks: []
  'stress-test':
    profiles:
      - 'stress'
      - 'prod'
    links:
      - 'server'
    build:
      context: '.'
      dockerfile: './Dockerfile'
      target: 'run-stress-test'
    networks:
      'kt-server':
  'init-volume':
    container_name: 'init-volume'
    restart: 'no'
    build:
      context: '.'
      dockerfile: './Dockerfile'
      target: 'init-volume'
    volumes:
      - type: 'volume'
        source: 'kt-db'
        target: '/vol/'
    network_mode: 'none'
  'init-tables':
    container_name: 'init-tables'
    profiles:
      - 'prod'
    # Fails if tables have already been initialized
    restart: 'no'
    depends_on:
      'dynamodb':
        required: true
        condition: 'service_healthy'
    links:
      - 'dynamodb'
    build:
      context: '.'
      dockerfile: './Dockerfile'
      target: 'init-tables'
    environment:
      KT_TABLE_NAME: kt_local
      ACCOUNTS_TABLE_NAME: accounts
      AWS_ACCESS_KEY_ID: local
      AWS_SECRET_ACCESS_KEY: local
      AWS_ENDPOINT_URL: http://dynamodb:8000
      AWS_REGION: local-kt
    networks:
      'kt-server':
  'dynamodb':
    container_name: 'dynamodb'
    profiles:
      - 'prod'
    depends_on:
      'init-volume':
        required: true
        condition: 'service_completed_successfully'
    restart: 'on-failure'
    image: amazon/dynamodb-local:2.5.2
    command: [
      "-jar",
      "DynamoDBLocal.jar",
      "-disableTelemetry",
      "-port", "8000",
      "-sharedDb",
      "-dbPath", "/db/",
      "-optimizeDbBeforeStartup",
      "-cors", "init-tables,dynamodb,server"
    ]
    healthcheck:
      timeout: '1s'
      test: [
        "CMD",
        "bash",
        "-c",
        # Expecting 400 Bad Request, because we require authentication
        "curl --head -o /dev/null -s -w \"%{http_code}\" dynamodb:8000 | grep \"^400$\" > /dev/null"
      ]
    volumes:
      - type: 'volume'
        source: 'kt-db'
        target: '/db/'
    networks:
      'kt-server':
  'server':
    container_name: 'server'
    profiles:
      - 'prod'
    restart: 'on-failure'
    depends_on:
      'init-tables':
        # Fails if tables have already been initialized
        required: false
        condition: 'service_completed_successfully'
    links:
      - 'dynamodb'
    build:
      context: "."
      dockerfile: "./Dockerfile"
      target: "run-server"
    command: [ "-config", "/run/secrets/config.yaml" ]
    environment:
      - AWS_ACCESS_KEY_ID=local
      - AWS_SECRET_ACCESS_KEY=local
      - AWS_ENDPOINT_URL=http://dynamodb:8000
      - AWS_REGION=local-kt
    secrets:
      - source: 'config'
        target: '/run/secrets/'
    networks:
      'kt-server':
  'client':
    profiles:
      - 'prod'
      - 'client'
    links:
      - 'server'
    build:
      context: "."
      dockerfile: "./Dockerfile"
      target: "run-client"
    entrypoint: [ "sh" ]
    secrets:
      - source: 'config'
        target: '/run/secrets/'
    networks:
      'kt-server':
  'tcpdump':
    container_name: 'tcpdump'
    profiles:
      - 'debug'
      - 'prod'
    depends_on:
      - 'server'
    image: 'kaazing/tcpdump@sha256:53a14752626e7581d4631bfa1851258546d47fea5a70fd7fd5b5f8f2156a7ab0'
    volumes:
      - type: 'bind'
        source: './tcpdump'
        target: '/tcpdump'
    network_mode: 'container:server'
    networks:
      'kt-server':
  'grpcurl':
    container_name: 'grpcurl'
    profiles:
      - 'debug'
      - 'prod'
    depends_on:
      - 'server'
    image: 'fullstorydev/grpcurl:v1.9.3-alpine@sha256:4614424ed58e9b9837c48b6b8eadb9ef40491d5af3499bcc8b378e9c64a9e4a9'
    entrypoint: [ '/bin/sh' ]
    working_dir: '/project/'
    tty: true
    volumes:
      - type: 'bind'
        source: './cmd/'
        target: '/project/cmd/'
        read_only: true
      - type: 'bind'
        source: './tree/'
        target: '/project/tree/'
        read_only: true
    network_mode: 'container:server'
    networks:
      'kt-server':
volumes:
  'kt-db':
secrets:
  'test-config':
    file: './cmd/kt-server/example/'
  'config':
    file: './config/'
networks:
  'kt-server':
    name: 'kt-server'
    driver: 'bridge'
    enable_ipv4: true
    enable_ipv6: false
